.icon-selector {
  padding: 0;
  display: flex;
  justify-content: space-between;

  .trend-icon {
    padding: 0 5px;
    font-size: 1.8em;

    &:hover {
      cursor: pointer;
      border-radius: 2px;
      background-color: #eceff1;
    }
  }

  .undecided {
    margin-top: 5px;
  }
}
